*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*if i set the width to be 100px, it'll only be 100px*/
    font-family: "Inter",sans-serif;
}
body{
    min-height: 100vh;
    background: rgb(238, 237, 235);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 20px 100px;
    background:rgb(116, 114, 100) ;
    display: flex;
    justify-content: space-between;/*Keep space between the classes*/
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: large;
    color: white;
    font-weight: 450;
    text-decoration: none;/*Removes the underline in hyperlink*/
    margin-left: 40px;
    background: rgb(60, 54, 51);
    border: 10px solid rgb(60, 54, 51);
    border-radius: 10px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.About{
    position: relative;
    /*background-color: rgb(255, 106, 0) ;*/
    margin: 100px 20px;
    width: 96%;
    height: 318px;
    border-radius: 46px;
}
.Slider{
    height: 318px;
    display: none;
    overflow: hidden;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    user-select: none;
}
.prev:hover, .next:hover{
    color: blue;
}
.next{
    right: 0px;
}
.dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
/*When you hover over the dots, it highlights the color*/
.active, .dot:hover{
    border-color: rgb(238, 237, 235) ;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: 0.8}
    to{opacity: 1;}
}

@keyframes fade{
    from{opacity: 0.8}
    to{opacity: 1;}
}
.text{
    position: absolute;
    color: white;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 5%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 1s;
    animation-name: posi;
    animation-duration: 1s;
    z-index: 1;


}

@keyframes posi{
    from{left: 15px;}
    to{left: 5%;}
}
.text h1{
    color: #273c75;
    font-weight: 1000;
    margin: 10px;
}

.text p{
    font-weight: 1000;
    font-size: 20px;
}
img{
    border-radius: 46px;
    transform: scale(1.,1);
    -webkit-animation-name: zooming;
    -webkit-animation-duration: 1.5s;
    animation-name: zooming;
    animation-duration: 1.5s;
}

@-webkit-keyframes zooming{
    from{transform: scale(0.5,0.5);}
    to{transform: scale(1,1);}
}

@keyframes zooming{
    from{transform: scale(0.5,0.5);}
    to{transform: scale(1,1);}
}
@media screen and (max-width:800px){
    .Slider{
        height: 500px;
    }
    .text{
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }
    @-webkit-keyframes posi2{
        from{top:35%;}
        to{top: 50%;}
    }
    @keyframes posi2{
        from{top:35%;}
        to{top: 50%;}
    }
    .text h1{
        font-size: 40px;
    }
    .text p{
        font-size: 13px;
    }
}
@media screen and (max-width:520px) {
    .text h1{
        font-size: 30px;
    }
    .sign{
        margin-right: 20px;
    }
    .sign a{
        font-size: 12px;
    }
}



























